.App {
  text-align: center;
}

body {
  background: #A2D5AB;
  margin: 10p 0;
}

#editor {
  width: 99%;
  min-height: 200px;
  background-color: #C3E5AE;
  border: 1px solid;
  box-shadow: 1px 1px 10px 2px;
  border-top: none;
  margin-bottom: -5px;
  resize: vertical;
  outline: none;
  padding-left: 8px;
  padding-top: 5px;
  font-size: 0.875rem
}

.previewWrap {
  background-color: #C3E5AE;
  border: 1px solid;
  box-shadow: 1px 1px 10px 2px;
  border-top: none;
  max-width: 800px;
  margin: 1.25rem auto;
  min-height: 200px;
  overflow-wrap: break-word;
}

#preview {
  padding: 0 1rem;
}

blockquote {
  border-left: 3px solid #224b4b;
  color: #224b4b;
  padding-left: 5px;
  margin-left: 25px;
}


table {
  border-collapse: collapse;
}

td, th {
  border: 2px solid;
  padding-left: 5px;
  padding-right: 5px;
}

img {
  display: block;
  max-width: 90%;
  margin: 2rem auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.toolbar {
  display: flex;
  align-items: center;
  background-color: #006778;
  color: #FFD124;
  padding: 0.3rem;
  border: 1px solid;
  box-shadow: 1px 1px 10px 2px;
  font-size: 1rem;
}

.toolbar i {
  width: 25px;
  margin-left: auto;
}

.editorWrap {
  max-width: 600px;
  margin: 1.125rem auto;
}

.editorWrap .toolbar {
  width: 99%;
}

.maximized {
  width: 96%;
  min-height: 100vh;
  margin: 1.25rem auto;
}

.maximized #editor {
  min-height: 95vh;
  resize: none;
}

.hide {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
